RewriteEngine on
RewriteCond $1 !^(app/|yawf/|favicon\.ico|index\.php|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
ErrorDocument 404 /not/found

<FilesMatch "\.(cmd|db|sql|txt|vhost|yaml)$">
    order allow,deny
    deny from all
</FilesMatch>
