# [DOMAIN]

<VirtualHost [IP]:[PORT]>
    DocumentRoot [YAWF_ROOT]/apps/[APP]
    ServerName [DOMAIN]
    ErrorLog [APACHE_LOGS_DIR]/[DOMAIN]-error_log
    CustomLog [APACHE_LOGS_DIR]/[DOMAIN]-access_log common
</VirtualHost>

<Directory "[YAWF_ROOT]/apps/[APP]">
    Options All
    AllowOverride All
</Directory>
