body {
    background: url(/yawf/images/back.gif) #d0e0f0 repeat-x left top;
}

#container {
    background-color: #fff;
    border-top: 2px solid #fff;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#header #login a,
#side_col a,
#menu li a:hover {
	color: #93c;
}

#menu {
	border-bottom: 4px solid #93c;
}

#menu a {
	color: black;
}

#menu li.active {
	/* border-bottom: 2px solid #9933cc; */
}

#menu li a {
	background-color: #bdf;
}

#menu li.active a {
	background-color: #93c;
	color: white;
}

#widgets {
	background-color: #eee;
}

#status {
	background-color: #ffffbf;
	border: 1px solid #ffff03;
}

#body {
    background-color: #eee;
}

#main_col {
	border-top: 2px solid #ada;
	border-left: 2px solid #ada;
	border-bottom: 2px solid #ada;
    background-color: #fff;
}

#side_col {
	background-color: #eee;
	border-left: 5px solid #ada;
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
}

#side_col #search {
	border-bottom: 1px dashed dimgray;
}

#side_col #account {
	background-color: #ffffbf;
	border: 2px solid #fff;
}

#footer {
	color: #999;
    background-color: #eee;
}

#footer a {
    color: #66f;
}

#flash, .validation_message {
    color: #f00;
}

.standout {
    background-color: #f00;
}
