body {
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-width: 960px;
}

#header {
    position: relative;
}

#header h1 {
    background-image: url(/app/images/zicatela_small.jpg);
    background-repeat: no-repeat;
    width: 250px;
    height: 87px;
    text-indent: -3000px;
    /*margin: 0 auto; */
    margin-left: 5px;
    margin-bottom: 15px;
}

#header #login {
    position: absolute;
    top: 0px;
    right: 10px;
}

#menu {
    text-align: center;
    margin: 0 auto;
    height: 25px;
    padding-left: 12px;
}

#widgets {
    margin-bottom: 0px;
    padding-left: 20px;
}

#widgets #latest-updates {
    /* TODO */
}

#menu ul,
#menu li {
    padding: 0;
    list-style-type: none;
}

#menu li {
    float: left;
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
}

#menu li.active {
    margin-left: 0;
    margin-right: 0;
}

#menu li a {
    display: block;
    line-height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

#menu li.active a {
    padding-left: 12px;
    padding-right: 12px;
}

#status {
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 25px;
}

#body {
    position: relative;
    margin-bottom: 0px;
}

#main_col {
    width: 70%;
    min-height: 450px;
    position: relative;
    left: 0;
    top: 0;
    padding-bottom: 20px;
}

#main_col #content {
    margin-left: 20px;
    margin-right: 20px;
}

#side_col {
    position: absolute;
    right: 0;
    left: 70%;
    top: 0;
    bottom: 0;
    padding: 10px;
}

#side_col h2 {
    margin-top: 0;
}

#side_col #search {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#side_col #account {
    padding: 10px;
}

#footer {
    padding: 10px;
    padding-bottom: 25px;
}
